[submodule "இனிபெயர்ப்பாளர்"]
	path = இனிபெயர்ப்பாளர்
	url = https://github.com/247i/IniTranslator.git
[submodule "எபொதிருத்தி"]
	path = எபொதிருத்தி
	url = https://github.com/247i/POEdit.git
[submodule "உரைபெறு"]
	path = உரைபெறு
	url = https://github.com/247i/GetText.git
[submodule "மொழியாக்கம்"]
	path = மொழியாக்கம்
	url = https://github.com/247i/lokalize.git
[submodule "எஆவமாதிருத்திமொழியாக்கம்"]
	path = எஆவமாதிருத்திமொழியாக்கம்
	url = https://github.com/247i/PDFXLocalizer.git
[submodule "பெயர்ப்பாளர்அறிவு"]
	path = பெயர்ப்பாளர்அறிவு
	url = https://github.com/247i/TranslatorWise.git
[submodule "திரைபிடிபடமொழியாக்கம்"]
	path = திரைபிடிபடமொழியாக்கம்
	url = https://github.com/247i/ScreenToGifTranslator
[submodule "தமிழாக்கம்"]
	path = தமிழாக்கம்
	url = https://github.com/247i/TACETr.git
[submodule "பெயர்த்தீர்வு"]
	path = பெயர்த்தீர்வு
	url = https://github.com/247i/Transolution.git
[submodule "ஓமேகாடி"]
	path = ஓமேகாடி
	url = https://github.com/247i/OmegaT.git
